nav {
  padding: 0 0.5rem;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  background: #eb471f;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}

.navbar a,
.navbar h1 {
  color: white;
  flex: 1;
}

.navbar h1 {
  font-size: 20pt;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 1rem;
}

.logo {
  max-height: 150%;
}

.mini-logo {
  max-width: 32px;
}

.footer {
  margin: 1em 0;
  text-align: center;
}

@media (max-width: 600px) {
  .navbar {
    flex-wrap: nowrap;
  }
  .navbar h1 {
    display: none;
  }
}
