<h2>Students</h2>
<app-student-table delible="true"></app-student-table>
<h2>Add New Student</h2>
<div class="row">
  <div class="col">
    <label for="new-student-fn">STUDENT FIRST NAME: </label>
    <input class="input" id="new-student-fn" #studentFn />&nbsp;
  </div>
  <div class="col">
    <label for="new-student-ln">STUDENT LAST NAME: </label>
    <input class="input" id="new-student-ln" #studentLn />&nbsp;
  </div>
</div>
<div class="row">
  <div class="col">
    <button
      type="button"
      class="add-button button"
      (click)="
        add(studentFn.value, studentLn.value);
        studentFn.value = '';
        studentLn.value = ''
      "
    >
      ADD STUDENT
    </button>
  </div>
</div>
