header,
.row {
  display: flex;
  padding: 0.25em;
}

.col {
  flex: 1;
}

header {
  font-weight: bold;
}

#students-table {
  margin: 1rem 0;
}

.name {
  font-size: 12pt;
  border-radius: 0 0.5rem 0.5rem 0;
  background: #cccccc;
  padding: 0.5rem;
}

.delete {
  font-size: 12pt;
  font-family: sans-serif;
  border: 0;
  width: 1.5em;
  height: 1.5em;
  background-color: #dd0000;
  color: #fff;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-top: 1em;
  margin-bottom: 1em;
}
