/* You can add global styles to this file, and also import other style files */
body,
html {
  transition: all ease 0.2s;
  margin: 0;
}

a {
  color: #eb471f;
}

a:hover {
  color: #ff4e21;
}

a:focus {
  color: #d6411c;
}

h1 {
  color: #eb471f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

hr {
  border: 1pt solid #ccc;
}

#content {
  margin: 2rem;
}

.input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  background-color: white;
  margin: 0.5rem 0;
}

.input:hover {
  border: 1px solid #ddd;
}

.input:focus {
  outline: 0;
  border: 1px solid #bbb;
}

select {
  cursor: pointer;
}

input[type="date"] {
  cursor: text;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.navbar {
  display: inline-block;
  height: 4rem;
}

.button {
  display: inline-flex;
  align-items: center;
  color: #555;
  border: 0;
  background-color: #ccc;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 8pt;
  margin: 0.4rem 0;
}

.button:active {
  background-color: #bbb;
}

.button:hover {
  cursor: pointer;
}

.button-panel {
  margin: 0.5rem 0;
}

.badge {
  font-size: 12pt;
  border-radius: 0.5rem 0 0 0.5rem;
  color: #fff;
  background-color: #eb471f;
  padding: 0.5rem;
}

.mobile {
  display: none;
}

@media (max-width: 600px) {
  #content {
    margin: 1em;
  }

  .mobile {
    display: inherit;
  }
}
