<div *ngIf="student">
  <h2>
    Details for {{ student.lastName | uppercase }},
    {{ student.firstName | uppercase }}
  </h2>
  <div>ID: {{ student.id }}</div>
  <div class="row">
    <div class="col">
      <label for="first-name">First name: </label>
      <input
        class="input"
        type="text"
        id="first-name"
        [(ngModel)]="student.firstName"
        placeholder="first name"
      />
    </div>

    <div class="col">
      <br class="mobile" />
      <label for="last-name">Last name: </label>
      <input
        class="input"
        type="text"
        id="last-name"
        [(ngModel)]="student.lastName"
        placeholder="last name"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="belt-rank">Belt rank: </label>
      <select
        [(ngModel)]="student.rank"
        class="input"
        name="belt-rank"
        id="belt-rank"
      >
        <option
          *ngFor="let belt of ranks"
          [value]="belt"
          [attr.selected]="student.rank === belt ? true : null"
        >
          {{ belt | titlecase }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="email-addr">Email: </label>
      <input type="email" class="input" [(ngModel)]="student.email" />
    </div>
    <div class="col">
      <label for="phone-num">Phone number: </label>
      <input type="phone" class="input" [(ngModel)]="student.phone" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="birth-date">Birthdate: </label>
      <input
        class="input"
        type="date"
        for="birth-date"
        [(ngModel)]="student.birthdate"
        placeholder="student.birthdate"
      />&nbsp;<span class="timestamp">{{ student.birthdate }}</span>
    </div>
  </div>
</div>
<div class="button-panel">
  <button type="button" class="save button" (click)="save()">SAVE</button>
  <button type="button" class="goback button" (click)="goBack()">
    GO BACK
  </button>
  &nbsp;
  <button type="button" class="delete button" (click)="delete()">DELETE</button>
</div>
